

.code-block {
  position: relative;

  select {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  border-radius: 0.25em;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  line-height: 1.1;
  }
}


.code-block-v2 {
  position: relative;

  select {
    display: none;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  border-radius: 0.25em;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  line-height: 1.1;
  }
}